<section>
    <a id="BuyMeABeer"></a><a id="BuyMeACoffee"></a>
    <h2>Support the cause</h2>
    <p>If you enjoy the KaprekarApp and the backing track, and want to support continued development,
        consider
        sharing, starring the
        project in the App Store(s), or buying <a href="https://www.kirpaint.com/#marc" target="_blank"
            rel="noopener noreferrer">me</a> a <a
            href="https://merware.net/marc/MarcsProducts.htm#coffee-espresso-ritual">coffee</a>, beer or slice below.
    </p>
    <section>
        <div class="donation-logos">
            <div class="donation-card">
                <img src="resources/paymarcbyzelle.jpg" alt="Zelle" class="donation-image donation-image--220">
                <div class="donation-link">ZelleMeAt: NerdFund@Outlook.com</div>
            </div>

            <div class="donation-card">
                <a href="https://PayPal.Me/NerdTips" target="_blank" rel="noopener noreferrer">
                    <img src="resources/paymarcbypaypal.jpg" alt="PayPal" class="donation-image donation-image--288">
                </a>
                <a href="https://PayPal.Me/NerdTips" target="_blank" rel="noopener noreferrer">
                    <div class="donation-link">https://PayPal.Me/NerdTips</div>
                </a>
            </div>

            <div class="donation-card">
                <a href="https://venmo.com/MarcSeinfeld" target="_blank" rel="noopener noreferrer">
                    <img src="resources/paymarcbyvenmo.jpg" alt="Venmo" class="donation-image donation-image--201">
                </a>
                <a href="https://venmo.com/MarcSeinfeld" target="_blank" rel="noopener noreferrer">
                    <div class="donation-link">https://venmo.com/MarcSeinfeld</div>
                </a>
            </div>

            <div class="donation-card">
                <img src="resources/paymarcbywechat.jpg" alt="WeChat" class="donation-image donation-image--220">
            </div>
        </div>
    </section>